.btn{
    color: white !important;
    width: fit-content;
    margin-left: 1px;
    margin-right: 1px;
    background-color: #002B51 !important;
}
.moveCenter{
    margin-top: 10px;
    margin-right: 10px;
}
.container-view{
    margin-top: 250px;
    margin-left: 350px;
    height: 500px;
    width: 500px;
}
.row{
    margin-top: 10px;
}