<div class="container">
       <div class="row">
              <div class="col-md-10">
              </div>
              <div class="col-md-2">
                     <div class="row">
                            <div class="col-md-6">
                                   <ngb-rating [max]="5" [(rate)]="currentRate" [readonly]="false"
                                          (click)="onRatingClick()">
                                   </ngb-rating>{{currentRate}}
                            </div>
                            <div class="col-md-6">
                                   {{selectedVideo.totalNoOfLikes}}
                                   <span [ngClass]="{'filled': currentLike, 'noFill': !currentLike, 'heartSize': true}"
                                          (click)="onLikeClick()">&hearts;</span>
                            </div>
                     </div>


              </div>
       </div>
       <div class="row">
              <div class="col-md-12">
                     <video width="100%" height="auto" controls>
                            <source src="{{selectedVideo.fileName}}" type="video/mp4">
                            <track default kind="captions" srclang="en" src="assets/big_buck_bunny_720p_20mb.vtt" />
                            Sorry, your browser doesn't support embedded videos.
                     </video>
              </div>
       </div>
</div>